* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.mypicture {
    position: absolute;
    height: 3rem;
    top: 4px;
    left: 1vw;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 2px 2px darkgray;
}

.navbox {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
}

#dropbtn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.5rem;
  min-width: 60px;
  font-size: 20px;
  margin-right: 4rem;
}

.dropdown {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 2px solid black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: aqua;}


button{
  background: transparent;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 1rem;
  min-width: 180px;
  z-index: 20;
}
button a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

  .fadeDivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .fadeInLeft {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    background-color: rgb(212, 244, 255);
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-width: 400px;
    margin-left: 2vw;
    margin-right: 35vw;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 0.5rem;
    animation: fadeInL 1s ease-in-out;
    animation-play-state: paused;
  }

  .fadeInLeft.in-view {
    animation-play-state: running;
  }

  @keyframes fadeInL {
    from {
      margin-right: 1vw;
      opacity: 0;
    }
    to {
      margin-right: 35vw;
      opacity: 1;
    }
  }
 

  .fadeInRight {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    background-color: rgb(212, 244, 255);
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-width: 400px;
    margin-right: 2vw;
    margin-left: 35vw;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 0.5rem;
    animation: fadeInR 1s ease-in-out;
    animation-play-state: paused;
} 

.fadeInRight.in-view {
  animation-play-state: running;
}

@keyframes fadeInR {
    from {
      margin-left: 1vw;
      opacity: 0;
    }
    to {
      margin-left: 35vw;
      opacity: 1;
    }
  }


footer {
    background-color:whitesmoke;
    width: 98vw;
    position: relative;
    bottom: 0;
    padding: 1%;
    border-top: 2px solid black;
  }
  
  footer img {
    height: 35px;
    width: 35px;
  }

  footer p {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
  }